
@font-face {
    font-family: Grotesk_Medium ;
    src: url('../fonts/PPRightGroteskText-CompactMedium.otf');
}
@font-face {
    font-family: Grotesk_MediumItalic;
    src: url('../fonts/PPRightGroteskText-CompactMediumItalic.otf');
}

@font-face {
    font-family: Grotesk_Regular ;
    src: url('../fonts/PPRightGroteskText-Regular.otf');
}
@font-face {
    font-family: Grotesk_MediumItalic;
    src: url('../fonts/PPRightGroteskText-RegularItalic.otf');
}


@font-face {
    font-family: Grotesk_Bold ;
    src: url('../fonts/PPRightGroteskText-WideBold.otf');
}
@font-face {
    font-family: Grotesk_BoldItalic;
    src: url('../fonts/PPRightGroteskText-WideBoldItalic.otf');
}